_ReSharper.*
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userprefs
*.cache
*.orig
Thumbs.db
.DS_Store
*.log
.vs

artifacts/
src/packages/*/**
build/App_plugins/
build/bin/
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/riderModule.iml
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/.idea/workspace.xml
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/.idea/vcs.xml
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/.idea/modules.xml
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/.idea/misc.xml
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/.idea/indexLayout.xml
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/.idea/encodings.xml
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/.idea/contentModel.xml
src/.idea/.idea.Our.Umbraco.DocTypeGridEditor/.idea/.name
